sbent-sample/src/main/resources/xsd/header.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="header">
		<xs:annotation>
			<xs:documentation>Comment describing your root element</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="bankName" type="xs:string"/>
				<xs:element name="periodEnd" type="xs:date"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>

